.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#product_image {
  text-align: center;
}

.form-element {
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
}

.product-image-card {
  background-position: center;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}

#price {
  display: contents;
}

#estimate_loader {
  display: none;
}

form#estimateform input,
select {
  min-width: 176px;
}

